/*---------------FONTS---------------*/


/*---------------BODY---------------*/
* {
  box-sizing: border-box;
}

body, html {
  background: #fffdf1;
  color: black;
  margin: 0 !important;;
  padding: 0 !important;;
  font-family: 'Zen Maru Gothic';

  scroll-behavior: smooth;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1200px;
  position: relative;
  z-index: -9;
}

h1 {
  font-size: 3em;
  color: #fffdf1;
  
}

h1, p {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 150px;
}

/*---------------HEADER---------------*/
header {
  position:fixed;

  width: 100%; 
  max-width: 1200px;

  margin-top: 0.5em;
  padding: 1em;

  z-index:99;

  display: flex;
  justify-content: space-between;
  align-items:center;

  background: #5FC5D4;
  box-shadow: var(--sl-shadow-large);

  border-radius: 1em;
}

.menu {
  font-size: 4em;
  color: #fffdf1;
}

.menu:hover{
  color: black;
  transition: ease-out 0.3s;
}

.menu-flex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.menu-flex a{
  border-radius: 15px;
  width: 900px;
  text-align: center;
  text-decoration: none;
  font-size: 3em;
  background:#fec81a;
  color: black;
  padding: 1em;
}

.menu-flex a:hover{
  color:#fffdf1;
  background:#5FC5D4;
  transition: 0.6s ease-in-out;

}





@media only screen and (max-width:768px){

  header{
    width: 100vw;
    padding: 0.5em;
  }

  .menu {
    font-size: 2em;
    color: #fffdf1;
  }

  h1 {
    font-size: 2em;   
  }


}








/*---------------MAIN---------------*/
aside {
  height: 100%;

  width: 10%;
  position: absolute;
  right: 0px;

  z-index: 98;

  max-height: 100vh;

  display:flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:768px){
  aside {
    display: none;
  }
}



.icon {
  color: #5FC5D4;
  font-size: 3.5em;
  border-radius: 50%;
  text-align: center;
  padding: 1rem;
  border: 3px solid #5FC5D4;

  box-shadow: var(--sl-shadow-large);  
}



.group {
  position: fixed;
  z-index: 98;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

/*---------------Intro Section---------------*/
#intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  justify-items: center;
  align-items: center;
}




.intro-para{
  grid-column-start: 1;
  grid-row-start: 1;

  align-self: flex-end;
}

.dots{
  display:flex;
  align-items:center;
  gap: 2em;
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: center;
}

.down-dot {
  border-radius: 50%;
  
  color: black;
  display: block;
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  animation: bounce 3s infinite ease-in-out;
}

.dot1 {
  background:#89d9e6;

  width: 2em;
  height: 2em;
  animation-delay: 0s;
}

.dot2 {
  background:#b6e9f1;

  width: 1em;
  height: 1em;
  animation-delay: 0.4s;

}

.dot3{
  background:#a9e7f0;

  width: 1.5em;
  height: 1.5em;
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(30vh);
  }
}

.slider-wrapper{
  grid-column-start: 2;
  grid-row-start: 2;

  align-self: flex-start;

  display: flex;
  align-items: center;
  gap: 0.25em;
}

.prev, .next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
}






.prev {
  left: 10px;
}

.next {
  right: 10px;
}




@media only screen and (max-width:768px){
  #intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    gap:30vh;
  }


  .slider-wrapper {
    grid-column-start: 1;
    grid-row-start: 2;

  }

  .dots{
    display: none;
  }


}

/*---------------WHAT IS IT SECTION---------------*/
#what-is-it{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  justify-items: center;
  align-items: center;
}


.what-1{
  grid-column-start: 2;
  grid-row-start: 1;

}

.what-2{
  grid-column-start: 1;
  grid-row-start: 2;

}

.what-3{
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: start;
}


@media only screen and (max-width:768px){
  #what-is-it{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .what-1{
    grid-column-start: 1;
    grid-row-start: 1;
  
  }
  
  .what-2{
    grid-column-start: 1;
    grid-row-start: 2;
  
  }
  
  .what-3{
    grid-column-start: 1;
    grid-row-start: 3;
  }
}




/*---------------TESTIMONIES SECTION---------------*/
.testimony {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 5rem;
}

.testimony-content {
  border:solid 3px #5FC5D4;
  border-radius: 10px;
  padding: 1em;
  width: 60%;
  box-shadow: var(--sl-shadow-large);
}


@media only screen and (max-width:768px){
  .testimony {
    flex-direction: column;
    gap: 1em


  }

  .testimony-content {
    width: 100%;
  }


}


/*---------------EXPLORE SECTION---------------*/

.explore-desktop{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:768px){
  .explore-desktop{
    display: none;
  }

}


/*---------------DIALOGS---------------*/
.dialog {
  width: 900px;


}

.dialog-grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5em;

}

.yellow-div{
  background: #FEDD6F;
  border-radius: 10px;
  border: 2px solid #fec81a;
  padding: 1em;



  grid-row-start: 1;
  grid-column-start: 1;
}

.yellow-div2{
  background: #FEDD6F;
  border-radius: 10px;
  border: 2px solid #fec81a;
  padding: 1em;

  grid-row-start: 2;
  grid-column-start: 2;
}

.yellow-div, .yellow-div2, .blue-div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  

}




.blue-div{
  width: 100%;
  background: #89d9e6;
  border-radius: 10px;
  border: 2px solid #5FC5D4;
  padding: 1em;

  grid-row-start: 2;
}

.dialog img{
  border-radius: 10px;
  width: 100%;

  grid-row-start: 1;
  grid-column-start: 2;
}








/*---------------SELF EVAL Section---------------*/

#self-evaluation{
  min-height: 100vh;
  padding-top: 10rem;
}


.eval-container {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eval


sl-radio-group {
  text-align: left;

}



/*---------------QUIZ---------------*/
.questions {
  display: none;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.questions.active {
  display: block;
  opacity: 1;
  z-index: 1;
}



.navigation {
  margin-top: 20px;
}

sl-progress-bar {
  width: 50%;
  margin-top: 1em;
}

#results-screen {
  display: none; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out; 
}

#results-screen.active {
  display: block;
  opacity: 1;
  visibility: visible;
}






/*---------------CIRCLE DIVS---------------*/
.circle-container {
  position: relative;
  border-radius: 50%;
  text-align: center;
  background: #fec81a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.circle-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(50%);
}




/* Small Circle */
.circle-container.small {
  width: 200px;
  height: 200px;
}

.circle-container.small::before {
  width: 250px;
  height: 250px;
}

.circle-container.small::after {
  width: 300px;
  height: 300px;
}

/* Medium Circle */
.circle-container.medium {
  width: 400px;
  height: 400px;
}

.circle-container.medium::before {
  width: 500px;
  height: 500px;
}

.circle-container.medium::after {
  width: 600px;
  height: 600px;
}

/* Large Circle */
.circle-container.large {
  width: 500px;
  height: 500px;
}

@media only screen and (max-width:768px){

  .circle-container.large {
    width: 100vw;
    height: 100vw;

}
}

.circle-container.large::before {
  width: 600px;
  height: 600px;
}

.circle-container.large::after {
  width: 700px;
  height: 700px;
}

/* Outer Circles */
.circle-container::before,
.circle-container::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -2;
}

/* First Outer Circle */
.circle-container::before {
  background: rgba(254, 200, 26, 0.5); /* Slightly faded */

}

/* Second Outer Circle */
.circle-container::after {
  background: rgba(254, 200, 26, 0.2); /* More faded */

}

.circle-container p{
  text-align: center;
  margin: 10px auto;

  width: 75%;
  text-overflow: ellipsis;
}

